.navi{
      display:flex;
      list-style-type:none;
      display:flex;
      gap:20px;
      cursor:pointer;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
    }
    .top{
         display:flex;
         justify-content: space-between;
         padding:20px;
         letter-spacing: 1px;
         color:white;
         align-items: center;
         width:100%;
         background: linear-gradient(90deg, #5b2b00, #7a3a00);
         
    }
    
.content{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: auto;
    gap:20px;
    background-color:transparent;
    color:black;
    width:100%;
    
    padding-top: 30px;;
}
.item{
    display:flex;
    align-items: center;
    background-color: rgb(219, 152, 50);
    padding:30px;
    border-radius: 10px;
    border-color: beige;
    border-width: 5px;
    border-style: groove;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    

    
}
.item:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0,0,0,0.35);
}
.item img{
    width:140px;
    height: 100px;
    object-fit:cover;
    border-radius: 3px;
    border-color: beige;
    border-width: 5px;
    border-style: solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);

    
}
.it{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding-left:30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.content-title{
    grid-column:1/-1;
    text-align:left;
    padding: 40x;
    color:rgb(240, 230, 240);
}
.item2{
    display:flex;
    align-items: center;
    background-color: rgb(226, 136, 76);
    padding:30px;
    border-color: beige;
    border-width: 5px;
    border-style: groove;
    
}
.item2:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0,0,0,0.35);
}


body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/024/597/732/large_2x/a-lot-of-junk-food-on-table-unhealthy-nutrition-generative-ai-photo.jpg);

}

@media(max-width:900px)
{
    .content{
        grid-template-columns: 1fr;
    }
    .item{
        flex-direction:column;
        text-align:center;
    }
    .item2{
        flex-direction:column;
        text-align:center;
    }
    .item img{
        width:100%;
        height: auto;
    }
    .item2 img{
        width:100%;
        height: auto;
    }

}
